<nav class="navbar navbar-expand-lg main-top-nav" ng-controller="checkController as check">
  <!-- <div class="container">  -->
    <a class="navbar-brand color-white text-weight-700" href="/">
      <img src="../img/pacmovies-white.png" style="width: 60px;display: inline-block;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ng-class="{'active': check.current == 'home'}">
          <a class="nav-link" href="javascript:void(0)" ui-sref="home">
            Movie
          </a>
        </li>
        <li class="nav-item" ng-class="{'active': check.current == 'anime'}">
          <a class="nav-link" href="javascript:void(0)" ui-sref="anime">
            Anime
          </a>
        </li>
        <li ng-if="!check.isSessionActive" class="nav-item">
          <button class="btn btn-login" ui-sref="auth">Login</button>
        </li>
        <li ng-if="check.isSessionActive" class="nav-item">
          <button class="btn btn-login" ng-click="check.logout()">Logout</button>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</nav>