<div class="wall-content" wall-directive>
  <!-- <div class="container">  -->
    <div class="row movies-container">

      <div class="col-9">
        <div class="white-space-10"></div>
        <!-- <p class="text-weight-700 font-20">Latest Movies</p> -->
      </div>

      <div class="col-3 wall-search-container">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" ng-model="searchMovie" class="form-control" placeholder="Search movie and hit Enter..">
        </div>
        <div class="white-space-10"></div>
      </div>

      <div ng-if="list.movie_link" class="col-2 item cursor-pointer" ng-repeat="list in movie_list | filter : searchMovie">
        <div class="white-box movie-box">
          <div class="poster-overlay cursor-pointer" ng-click="goToMovie( list )">
            <div class="poster-img">
              <div class="play-img">
                <img src="../img/play-button-white.png" style="height: 70px;width: 70px;">
              </div>
            </div>
          </div>
          <div class="img-wrapper">
            <img ng-if="list.image != null" ng-src="{{ list.image }}">
            <img ng-if="list.image == null" src="../img/no_image.png">
          </div>
          <div class="desc-box" ng-click="goToMovie( list )">
            <p class=" text-weight-700 color-black-000" ng-bind="list.name">Iron man</p>
            <p class="font-10 text-weight-700 color-black-555" ng-bind="list.year">2008</p>
          </div>
        </div>
      </div>

    </div>
  <!-- </div> -->
</div>